<div id="home">
    <div class="box-center">
        <h1>jskeleton</h1>
        <p class="lead">This page is an example of how to use it.</p>
        <button type="button" class="btn btn-default btn-lg">Click-me</button>
    </div>
</div>
